:root {
  --main-text-color: #484848;
  --secondary-text-color: #00000e;
  --tertiary-text-color: #ffffff;
  --margin-small: 1.8rem;
  --margin-medium: 3rem;
  --padding-small: 6px 6px;
  --padding-medium: 8px 8px;
  --border-radius-small: 4px;
  --border-radius-medium: 8px;
  --font-size-small: 10px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: #f8f8f8;
  overflow-x: hidden;
}
h1,
h3 {
  color: var(--secondary-text-color);
}
h2 {
  font-size: 18px;
}
p {
  color: var(--main-text-color);
  font-size: 1rem;
  text-align: center;
}

h3 {
  font-size: 1.8rem;
}

button {
  background-color: #0066ff;
  border-radius: var(--border-radius-medium);
  cursor: pointer;
  color: var(--tertiary-text-color);
  font-size: 1.1rem;
  margin-block-start: var(--margin-small);
  padding: 16px 8px;
  width: 100%;
}

.header {
  height: 40px;
}

.question {
  font-size: 1rem;
  height: 40px;
}

.btn-disabled {
  background-color: #e9e6ed;
  color: var(--secondary-text-color);
  border: none;
}

.color {
  height: 10px;
  width: 10px;
}

li {
  align-items: center;
  border: 1px solid lightgrey;
  border-radius: var(--border-radius-medium);
  cursor: pointer;
  display: flex;
  height: 80px;
  justify-content: center;
  list-style-type: none;
  margin-block-start: var(--margin-small);
}

.li-hover:hover {
  border: 1px solid black;
  columns: #fff;
}

.li-selected {
  border: 1px solid black;
  color: #fff;
}

.main-container {
  padding: 100px 8px 8px 8px;
}

.quiz-container {
  padding: 1rem;
  margin-block-start: var(--margin-small);
}

.answer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 50px;
}

.container p {
  padding: 0px 6px;
}

.results {
  padding: 8px 8px;
  margin-block-start: var(--margin-small);
}

.answer-container {
  margin-block-start: var(--margin-small);
}
.answer-section p {
  padding: 2px;
  text-align: left;
}

.answers-question {
  font-size: var(--font-size-small);
  font-weight: 600;
}

.correct-answer {
  font-size: var(--font-size-small);
}

.facts {
  display: flex;
  flex-direction: column;
  align-items: center;
}
